* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ====== Common ====== */
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.btn{
    display: inline-block;
    min-width: 108px;
    
}

/* ====== Header ====== */
.header .body {
  display: flex;
  align-items: center;
  padding: 52px 0 8px;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #2f3a3b;
  font-size: 1.6rem;
}

.btn