* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* ====== Common ====== */
a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 108px;
  padding: 0 24px;
  line-height: 48px;
  color: #1ebfc1;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

/* ====== Header ====== */
.header {
  background: #fff;
}

.header.fixed {
  z-index: 1;
  position: sticky;
  top: -44px;
}

.header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0 8px;
}

.nav ul {
  display: flex;
}

.nav a {
  position: relative;
  color: #2f3a3b;
  font-size: 1.6rem;
  padding: 8px 20px;
}

.nav li.active a,
.nav a:hover {
  color: #2f3a3b;
  /* font-weight: 600; */
  text-shadow: 1px 0 0 currentColor;
}

.nav li.active a::after {
  position: absolute;
  left: 21px;
  display: block;
  content: "";
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background: currentColor;
}

.header .btn-sign-in {
  color: #494949;
  font-size: 1.6rem;
  margin-right: 24px;
}

.header .btn-sign-in:hover {
  color: #1ebfc1;
  text-shadow: 1px 0 0 currentColor;
}

.header .btn-sign-up:hover {
  background: #1ebfc1;
  color: #fff;
}

/* ====== Hero ====== */
.hero {
  padding: 42px 0 79px;
}

.hero .body {
  display: flex;
  /* padding: 50px 0 79px; */
}

/* ~~~ Left ~~~ */
.hero .content-block {
  width: 50%;
}

.hero .content-block .title {
  margin-top: 93px;
  color: #767e7e;
  font-size: 1.4rem;
}

.hero .content-block .heading {
  margin-top: 18px;
  color: #0d1111;
  max-width: 458px;
  font-size: 6.2rem;
  font-weight: 700;
  line-height: 1.16;
}

.hero .content-block .desc {
  width: 374px;
  margin-top: 46px;
  color: #9da6a5;
  font-size: 1.8rem;
  line-height: 1.77;
}

.hero .content-block .cta-group {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.hero .content-block .hero-cta {
  margin-right: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  background: #2ac9bf;
  min-width: 186px;
  line-height: 68px;
  padding: 0 41px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

.hero .content-block .watch-video {
  border: none;
  background: transparent;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  box-shadow: 0 22px 50px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* ~~~ Right ~~~ */
.hero .media-block {
  width: 50%;
}

.hero .media-block .img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero .media-block {
  position: relative;
}

.hero .courses {
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  padding: 17px 25px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .schedules {
  position: absolute;
  left: -145px;
  bottom: 46px;
}

.hero .actives {
  position: absolute;
  right: 45px;
  bottom: 41px;
  background: #fff;
  padding: 17px 35px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0 12px 80px 0 rgba(0, 0, 0, 0.05);
}

.hero .actives .students {
  margin-top: 8px;
}

.hero .actives .stu {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-left: -10px;
}

.hero .actives .stu:first-child {
  margin-left: 0;
}

/* ====== Features ====== */
.features {
  margin-top: 70px;
}

.features .body-feature {
  padding: 60px 0;
  max-width: 1024px;
}

.features .title-top {
  color: #767e7e;
  font-size: 1.2rem;
  font-weight: 700;
  color: #767e7e;
}

.features .heading-lv2 {
  margin-top: 18px;
  max-width: 577px;
  color: #0d1111;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.34;
}

.features .desc {
  margin-top: 18px;
  max-width: 590px;
  color: #767e7e;
  font-size: 1.8rem;
}

.features .feature-list {
  display: flex;
  margin-top: 80px;
  justify-content: space-between;
}

.features .feature-list .item-title {
  margin-top: 26px;
}

.features .feature-list .item-title a {
  color: #0d1111;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
}

.features .feature-list .item-desc {
  margin-top: 16px;
  color: #9da6a5;
  font-size: 1.6rem;
  line-height: 1.69;
}

.features .item:first-child .item-desc {
  max-width: 168px;
}

.features .item:nth-child(2) .item-desc {
  max-width: 223px;
}

.features .item:last-child .item-desc {
  max-width: 224px;
}

/* ====== Courses ====== */
.courses {
  margin-top: 10px;
}

.courses .body-course {
  padding: 60px 0 184px;
}

/* ~~~ Top ~~~ */

.courses .body-course .title-top {
  color: #767e7e;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.courses .body-course .heading-lv2 {
  margin-top: 18px;
  color: #0d1111;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
}

.courses .body-course .row-course {
  margin-top: 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courses .body-course .row-course .desc {
  max-width: 525px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: 1.78;
}

.courses .body-course .row-course .all-course {
  color: #1ebfc1;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/* ~~~ Bottom ~~~ */
.courses .course-list {
  margin-top: 79px;
  display: flex;
  gap: 47px;
}

.courses .course-item {
  position: relative;
}

.courses .course-list .thumb {
  width: 100%;
  border-radius: 8px;
  opacity: 0.7;
  background: #d0efed;
  object-fit: cover;
  height: 393px;
}

.courses .course-list .info {
  position: absolute;
  top: 322px;
  left: 17px;
  right: 17px;
  padding: 18px 25px 29px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 16px 90px 0 rgba(0, 0, 0, 0.05);
}

.courses .course-item .headinglv-3 a {
  color: #0d1111;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
}

.courses .course-item .fee {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.courses .course-item .fee span {
  color: #0d1111;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.courses .course-item .desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}

.courses .course-item .times {
  gap: 26px;
  display: flex;
  margin-top: 18px;
  color: #9da6a5;
  font-size: 1.4rem;
  line-height: normal;
}

.courses .course-item .times p::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #1ebfc1;
  border-radius: 50%;
  margin: 0 10px;
}

/* ====== Countdown ====== */
.countdown {
  margin-top: 81px;
  /* padding: 50px; */
}

.countdown .body {
  width: 862px;
  margin-left: auto;
  margin-right: auto;
}

.countdown .countdown-list {
  display: flex;
  justify-content: space-between;
}

.countdown .countdown-item .static {
  color: #0d1111;
  text-align: center;
  font-size: 6.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.countdown .countdown-item .desc {
  margin-top: 11px;
  color: #767e7e;
  text-align: center;
  font-size: 1.8rem;
}

/* ====== Feedback ====== */
.feedback {
  margin-top: 227px;
}

.feedback .body .comment {
  max-width: 419px;
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  line-height: 1.5;
}

.feedback .body {
  position: relative;
  padding: 37px 0;
}

.feedback .body .desc {
  display: flex;
  align-items: center;
  margin-top: 33px;
  color: #767e7e;
  font-size: 1.6rem;
  line-height: normal;
}

.feedback .body .desc strong {
  color: #070707;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
}

.feedback .body .desc::before {
  display: inline-block;
  content: "";
  width: 8px;
  height: 2px;
  margin-right: 5px;
  background: #070707;
}

.feedback .body .feeback-cta {
  display: flex;
  margin-top: 52px;
  margin-left: -30px;
}

.feedback .body .feeback-cta .cta-btn-group {
  margin-left: 30px;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #2ac9bf;
  justify-content: center;
  align-items: center;
}

.feedback .ava-fb-1 {
  position: absolute;
  left: 635px;
  top: 0;
  width: 92px;
  height: 92px;
}

.feedback .ava-fb-2 {
  position: absolute;
  left: 1060px;
  top: 19px;
  width: 110px;
  height: 110px;
}

.feedback .ava-fb-3 {
  position: absolute;
  left: 764px;
  top: 107px;
  width: 235px;
  height: 235px;
}

.feedback .ava-fb-4 {
  position: absolute;
  left: 481px;
  top: 258px;
  width: 78px;
  height: 78px;
}

.feedback .ava-fb-5 {
  position: absolute;
  left: 703px;
  top: 403px;
  width: 78px;
  height: 78px;
}

.feedback .ava-fb-6 {
  position: absolute;
  left: 1060px;
  top: 374px;
  width: 78px;
  height: 78px;
}

/* ====== Admit ====== */
.admit {
  margin-top: 130px;
  padding: 76px 135px 88px;
  background: #def6f5;
}

.admit .body {
  display: flex;
  align-items: center;
}

.admit .body .heading-lv2 {
  color: #070707;
  font-size: 4.2rem;
  font-weight: 700;
  line-height: normal;
  margin-right: 410px;
}

.admit .body .desc {
  margin-top: 18px;
  color: #767e7e;
  font-size: 1.8rem;
  line-height: normal;
}

.admit .body .btn {
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 14px;
  background: #2ac9bf;
  min-width: 186px;
  line-height: 68px;
  padding: 0 41px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.05);
}

/* ====== Footer ====== */
.footer {
  background: #ffffff;
}

.footer .row {
  padding: 131px 0 0;
  display: flex;
  justify-content: space-between;
}

.footer .title {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: normal;
}

.footer .list li {
  margin-top: 18px;
  color: #535353;
  font-size: 1.6rem;
  line-height: normal;
}

.footer .list li:first-child {
  margin-top: 26px;
}

.footer li a {
  color: #535353;
  font-size: 1.6rem;
  line-height: normal;
}

.footer .list-item5 a {
  display: flex;
}

.footer .list-item5 .social-icon {
  margin-right: 9px;
}

.footer .copyright {
  padding: 80px 0 50px;
  text-align: center;
  color: #b0b5b4;
  font-size: 1.8rem;
}
